.txtColumn{
  background-color: $color-secondary-dark;
  color: $color-white;
  padding-top: 3em;
  padding-bottom: 12em;
  @include bp(sm){
    padding-top: 4em;
    padding-bottom: 14em;
  }
  @include bp(lg){
    padding-top: 5em;
  }
  .txtColumn__primary{

    grid-column: 1/5;
    padding: 0 2em;
    @include bp(sm){
      grid-column:2/12;
      padding: unset;
    }

    @include bp(midlg){
      grid-column: 2/10;
    }

    @include bp(lg){
      grid-column: 2/8;
    }

    @include bp(xxlg){
      grid-column: 2/7;
    }

    .title{
      font-family: $font-secondary;
      font-weight:$font-medium;
      display: block;
     @include Font__24-32;
      @include bp(sm){
        font-size: 36px;
        line-height: 50px;
      }
    }
  }


  .txtColumn__secondary{

    grid-column: 1/5;
    padding: 0 2em;
    @include bp(sm){
      padding: unset;
      grid-column: 2/12;
    }
    @include bp(lg){
      grid-column: 8/12;
    }
    @include bp(xxlg){
      grid-column: 7/11;
    }
    p{
      font-size: 14px;
      line-height: 22px;
      opacity: 0.8;
    }
  }
}

.txtColumn{
  position: relative;
}

.ct__tag{
  color: $color-primary;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  transition: color 0.2s;
  &:after{
    content: '';
    border-bottom: 1px solid;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  &:hover{
    color: $color-white;
  }
}

.txtCol--cta{
  display: inline-block;
  padding-top: 2em;
}


.txt--vrTitle{
  position: absolute;
  left: 0px;
  top: 40%;
}

.carousel__toggler{
  display: flex;
  gap: 1em;
  grid-column: 1/5;
  padding-left: 10%;
  padding-bottom: 1em;
  @include bp(sm){
    padding-left: unset;
    grid-column: 2/span 4;
    padding-bottom: 1em;
  }

  .toggler{
    border-bottom: 3px solid #494949;
    opacity: 0.8;
    cursor: pointer;
    transition: border-color 0.2s;
    width: 80px;
    &:hover, &.clicked{
      border-color: $color-primary;
    }
    @include bp(sm){
      width: 80px;
    }
  }
}

.txt__order{
  display: flex;
  flex-direction: column;
  .order__one{
    order:2;
    margin: 2em 0 0;
  }
  .order__two{
    order: 1;
  }
  @include bp(sm){
    .order__one{
      margin:unset;
    }
    .order__one,.order__two{
      order: unset;
    }
  }
}