.txtColumn{
  background-color: $color-secondary-dark;
  color: $color-white;
  padding-top: 3em;
  padding-bottom: 15em;
  @include bp(sm){
    padding-top: 4em;
    padding-bottom: 14em;
  }
  @include bp(lg){
    padding-top: 7em;
  }
  .txtColumn__primary{

    grid-column: 1/5;
    padding: 0 2em;
    @include bp(sm){
      grid-column:2/12;
      padding: unset;
    }

    @include bp(midlg){
      grid-column: 2/10;
    }

    @include bp(lg){
      grid-column: 2/8;
    }

    @include bp(xxlg){
      grid-column: 2/7;
    }

    .title{
      font-family: $font-secondary;
      font-weight:$font-medium;
      display: block;
     @include Font__24-32;
      @include bp(sm){
        font-size: 36px;
        line-height: 50px;
      }
    }
  }


  .txtColumn__secondary{

    grid-column: 1/5;
    padding: 0 2em;
    @include bp(sm){
      padding: unset;
      grid-column: 2/12;
    }
    @include bp(lg){
      grid-column: 8/12;
    }
    @include bp(xxlg){
      grid-column: 7/11;
    }
    p{
      font-size: 14px;
      line-height: 22px;
      opacity: 0.8;
    }
  }
}

.txtColumn{
  position: relative;
}

.ct__tag{
  color: $color-primary;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  transition: color 0.2s;
  &:after{
    content: '';
    border-bottom: 1px solid;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  &:hover{
    color: $color-white;
  }
}

.txtCol--cta{
  display: inline-block;
  padding-top: 2em;
}


.txt--vrTitle{
  position: absolute;
  left: 0px;
  top: 40%;
}